.frase1{
    color: green;
}
.elemento1 {
    font-size: 40px;
    padding: 20px;
    width: 1850px;
    height: 200px;
    border-style: solid;
    border: 3px solid blue;
    border-color: blue;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elemento2 {
    display: flex;
    background-color: lightblue;
    position: absolute;
    justify-content: space-evenly;
    top: 255px;
    left: 10px;
    width: 1890px;
    background-color: lightblue;
    font-size: 20px;
    height: 40px;
    align-items: center;
}

a{
    text-decoration: none;
}
.elemento3{
    position: absolute;
    top: 300px;
    left: 850px
}
.elemento4{
    font-size: 20px;
    text-align: center;
    color: #4a2a6c;
    padding-left: 15%;
    padding-right: 15%
}

.elemento5{
    position: absolute;
    top: 600px;
    left: 870px
}

.livro1{
    position: absolute;
    top: 750px;
    left: 400px
    
}
.livro2{
    position: absolute;
    top: 750px;
    left: 760px
}
.livro3{
    position: absolute;
    top: 750px;
    left: 1120px
}
.elemento6{
    position: absolute;
    top: 1200px;
    left: 570px

}